@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    margin:0;
    background-color: #eae1dd;
}
#tagline{
    font-family: "Open Sans",sans-serif;
    font-style: italic;
    color: coral;
    text-align: center;
}
#AboutMe{
display: flex;
align-items: center;
gap:25px;
margin-top:10px;
}
#AboutMe p{
    font-size: 18px;
    /* font-weight: 800; */

}
#mypicpotrait{
width:12%;
border-radius: 1px solid;
}
#mypicpotrait>#mypic{
    width:100%;
    border-radius: 50%;
    border:1px solid lightblue;
}
